.green-background {
  background-color: #0a8012;
  color: #fff;
}

@keyframes blink {
  0% { opacity: 0.7; }
  40% { opacity: 0.9; }
  50% { opacity: 1; }
  60% { opacity: 0.9; }
  100% { opacity: 0.7; }
}
.skeleton-blink {
  animation: blink 1s infinite;
}
.skeleton-blink article {
  min-height: 200px;
}
.skeleton-blink article.header, .skeleton-blink article.footer {
  min-height: 70px;
}
footer.footer a {
  color: #17386d !important;
}

.page-heading {
font-size: 32px;
line-height: 35px;
font-weight: bold;
letter-spacing: -.02em;
margin-top: 0px;
}

.bordered {
 
}

.profile-photo {
  margin-bottom: 20px;
  margin-top:0px;
  border-radius: 75px;
  width: 150px;
  height: 150px;
}

.profile-photo-small {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top:0px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.subtitle {
  font-size: 26px;
  line-height: 35px;
  font-weight: bold;
  letter-spacing: -.02em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.centered-content {
  justify-content:center;
}


.navbar-brand {
  width: 240px !important;
  height: 60px !important;
  margin: 0px !important;
  padding: 0px !important;
  
}
.navbar-brand .navbar-item {
  margin: 0px !important;
  padding: 0px !important;
}

.navbar-item img {
  width: 240px !important;
  height: 60px !important;
  max-height: 60px !important;
}

.navbar-item:hover {
  background-color: #2980b9 !important;
}

.navbar-expand-lg {
  background-color: #2980b9;
}

.header-text {
  color: #ecf0f1;

}

.ngo-case {
  padding-left:20px;
  padding-right:20px;
  margin-bottom:10px;
  padding-bottom:10px;
  padding-top: 5px;
}

.ngo-case button {
  margin-right:10px;
}



.tagcloud03 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud03 ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tagcloud03 ul li a {
	position: relative;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 2.5em 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
}
.tagcloud03 li span {
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 2;
	width: 22px;
	height: 22px;
	line-height: 22px;
	background-color: #3498db;
	border-radius: 100%;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.tagcloud03 ul li a:hover {
}
.tagcloud03 ul li a:hover span {
}



.ngo-case .buttons {
  margin-bottom: 10px;
}
.case-description {
  margin-bottom: 10px;
}

.margin-right-5px {
  margin-right: 5px;
}
